:root {
    --whiteColor: #F8F5E4;
    --orangeColor: #F97300;
    --blueColor: #0E3047;
    --blueColor2: #10828C;
}

#navBarHome {
    background-color: var(--blueColor2) !important;
}

#navBarHome a {
    color: var(--blueColor) !important;
}

#navBarHome a:hover {
    color: var(--whiteColor) !important;
}

#navBarHome .linkActive {
    color: var(--whiteColor) !important;
}

img[alt='iconCart'] {
    width: 28px;
    cursor: pointer;
}

.bttCart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 56px;
}

.qtdeCart {
    background-color: var(--orangeColor);
    color: var(--whiteColor);
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.containerProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

}

.cardProduct {
    margin: 10px 0px;
}

.itemCartSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    background-color: var(--whiteColor);
    padding: 5px 0px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.itemCartSide .trashLogo {
    width: 20px;
}

.itemCartSide img {
    width: 120px;
    flex-grow: 1;
}

.itemCartSide div {
    flex-grow: 1;
    padding-left: 5px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemCartSide .qtde {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 50px;
}

.itemCartSide .bttRemove {
    align-self: stretch;
}

.qtde .btt {
    background-color: var(--orangeColor);
    color: var(--whiteColor);
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently*/
}

.qtde .btt:hover{
    background-color: var(--blueColor2);
    cursor: pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer span{
    width: 380px;
    background-color: var(--orangeColor);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: var(--whiteColor);
    cursor: pointer;
    text-align: center;
}