:root{
  --whiteColor:#F8F5E4;
  --orangeColor:#F97300;
  --blueColor:#0E3047;
  --blueColor2:#10828C;
}

#root {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--whiteColor);
}